# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# pytest
.pytest_cache/

# Data
data/
*.pdf

# Notebooks
.ipynb_checkpoints
notebook_code.py
